@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    /*Configuração para tablets*/
    body {
        background-image: linear-gradient(to top, #00c6f5, #25525c);
    }

    section#login {
        width: 80vw;
        height: 300px;

        & div#imagem {
            float: left;
            width: 30%;
            height: 100%;
        }

        & div#formulario {
            float: right;
            width: 70%;
        }
    }
}

@media screen and (min-width: 992px){
    /*Telas Grandes*/
    body {
        background-image: linear-gradient(to top, #00c6f5, #25525c);
    }
    section#login {
        width: 950px;
        height: 340px;

        & div#imagem {
            float: right;
            width: 50%;
            height: 100%;
        }

        & div#formulario {
            float: left;
            width: 50%;

            & h1 {
                font-size: 2em;
            }

            & p{
                font-size: 1.2em;
                text-align: justify;
                padding: 5px;
            }

        }
    }
}