@charset "UTF-8";

/*
paleta de cores
azul: #00C6F5
azulfraco: #3B6A75
*/


* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #3b6a75;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527); 
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

    & div#imagem {
        display: block;
        background: #3b6a75 url(../imagens/predio.jpg) no-repeat;
        background-size: cover;
        height: 200px;
    }

    & div#formulario {
        padding: 10px;
        display: block;

        & h1 {
            text-align: center;
            margin-bottom: 10px;
        }

        & p {
            font-size: 0.8em;
        }
    }
}