@charset "UTF-8";

/*
paleta de cores
azul: #00C6F5
azulfraco: #3B6A75
*/


* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #3b6a75;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527); 
    
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

    & div#imagem {
        display: block;
        background: #3b6a75 url(../imagens/predio.jpg) no-repeat;
        background-size: cover;
        height: 200px;
    }

    & div#formulario {
        padding: 10px;
        display: block;

        & h1 {
            text-align: center;
            margin-bottom: 10px;
        }

        & p {
            font-size: 0.8em;
        }

        form > div.campo {
            background-color: #3493ca;
            display: block;
            width: 100%;
            height: 40px;
            border-radius: 7px;
            margin: 5px 0px;
            border: 3px solid #3493ca;

            & span {
                color: #3B6A75;
                font-size: 2em;
                width: 40px;
                padding: 5px;
            }

            & input {
                background-color: rgb(185, 181, 181);
                font-size: 1em;
                width: calc(100% - 44px);
                height: 100%;
                border: 0px;
                border-radius: 8px;
                padding: 4px;
                transform: translateY(-12px);
            }

            & input:focus-within {
                background-color: white;
            }

            & label {
                display: none;
            }
        }

        form > input[type=submit] {
            display: block;
            font-size: 1em;
            width: 100%;
            height: 40px;
            background-color: #3B6A75;
            color: white;
            border: none;
            border-radius: 7px;
            cursor: pointer;
        }
        form > input[type=submit]:hover {
            background-color: #0295b9;
        }

        form > a.botao {
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 1em;
            width: 100%;
            height: 40px;
            background-color: white;
            color: #1d3338;
            border: 1px solid #0295b9;
            border-radius: 7px;
            padding-top: 8px;
            margin-top: 5px;

            & span {
                font-size: 1em;
            }
        }
        form > a.botao:hover {
            background-color: #0295b9;
            color: white;
        }
    }
}